<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>

<ul>
    <% websiteList.forEach(function(website){ %>
    <li><a href="<%= website.home_url %>"><img src="<%= website.icon_url %>"><%= website.name %> </a></li>
    <% }) %>
</ul>
</body>
</html>
